name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    environment: ci
    strategy:
      fail-fast: false
      matrix:
        go-version: ['1.13', '1.14', '1.15', '1.16', '1.17', '1.18', '1.19', '1.20']

    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go-version }}

    - name: Test
      env:
        ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY_ID }}
        ACCESS_KEY_SECRET: ${{ secrets.ACCESS_KEY_SECRET }}
        REGION_ID: ${{ vars.REGION_ID }}
        USER_ID: ${{ secrets.USER_ID }}
        PUBLIC_KEY_ID: ${{ secrets.PUBLIC_KEY_ID }}
        RSA_FILE_AES_KEY: ${{ secrets.RSA_FILE_AES_KEY }}
        CONCURRENT_ID: "${{ github.run_number }}-${{ strategy.job-index }}"
      run: |
        go test -race -coverprofile=coverage.txt -covermode=atomic ./sdk/...
        test -z $ACCESS_KEY_ID -a -z $ACCESS_KEY_SECRET || go test -v -timeout 120s ./integration/...
    - name: Upload coverage
      run: bash <(curl -s https://codecov.io/bash)
